DB_HOST=localhost
DB_PORT=5432
DB_NAME=ebsar
DB_USER=admin
DB_PASSWORD=123

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=ebsar_analytics
CLICKHOUSE_USER=ebsar
CLICKHOUSE_PASSWORD=ebsar@123
